#include <windows.h>
#include "resource.h"

IDI_APP_ICON ICON "app.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Local"
            VALUE "FileDescription", "重复图片查找器"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "DuplicateImageFinder"
            VALUE "OriginalFilename", "DuplicateImageFinder.exe"
            VALUE "ProductName", "重复图片查找器"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
